<div class='siteContainer' id='initSelection'>
  <div class='itineraryPane' id="pointList">
    <h1>Choose up to 6 places.</h1>
    <div id="list">
      <div class='pointofinterest' *ngFor="let m of attrac; let i = index"
      (click)="pointClicked(i)">
        <div class='blockHeader'>
          <div class='rank'><h1 >{{i+1}}</h1></div>
          <div class='name'><h2 [innerHTML] = m.name></h2></div>
        </div>
        <div class='blockHeader'>
          <div class='desc1'><h3 [innerHTML]=m.groups[0].name></h3></div>
          <div class='desc2'><h3 [innerHTML]=m.groups[0].categories[0].name></h3></div>
        </div>
        <div class='blockHeader'>
          <div class='desc1'><h4 [innerHTML]=m.ranking_data.ranking_string></h4></div>
          <div class='desc2'><img [src]=m.rating_image_url></div>
        </div>
      </div>
    </div>
    <button id="continue" [disabled] = "waypoints.length==0" (click)="advance()">Continue</button>
  </div>
  <div class='itineraryPane' id="map">
    <agm-map [latitude] = 'lat' [longitude] = 'long'
      [mapTypeId] = 'mapType'
      [minZoom] = 'zoom'>
    
      <agm-marker 
      *ngFor="let m of markers; let i = index"
      class="markers"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      (markerClick)="pointClicked(i)"
      [markerDraggable]="m.draggable">
      </agm-marker>
      
    </agm-map>
  </div>
</div>